.wrapLogin {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login {
  //   margin: auto;

  background: rgb(238, 238, 238);
  padding: 40px;
  border-radius: 8px;
}
